<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Меню напитков</title>
</head>
<body style="font-family: Arial, sans-serif;">
<header style="background-color: #d8d76c; color: white; text-align: center; padding: 10px;">
    <h1>Меню напитков</h1>
</header>
    <h1>Асу</h1>
    <h1>Фанта</h1>
    <div>
        <h1>{{ first_drink.title }}</h1>
        <p>{{ first_drink.price }}</p>
    </div>
</body>
</html>